// Colors
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$dark-grey-color-1: #333;
$dark-grey-color-2: #777;
$dark-grey-color-3: #999;

$light-color: #fff;
$dark-color: #000;

// Font size
$default-font-size: 1.6rem;
